.header-container {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px 0 12px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 70px;
  background: #fff;
  border-bottom: 1px solid rgba(34, 90, 89, 0.2);
}

.upload-icon {
  display: none;
}

.main-logo {
  display: none;
}

.login-container {
  position: relative;
}

.search-container {
  position: relative;
}

.search-jsx {
  font-family: "proxima-regular", PingFangSC, sans-serif;
  font-weight: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  width: 120px;
  caret-color: #fe2c55;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.search-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 16px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .search-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 16px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .search-jsx {
    font-family: "proxima-regular", PingFangSC, sans-serif;
    font-weight: 400;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: none;
    background: transparent;
    outline: none;
    padding: 0px;
    width: 292px;
    caret-color: #fe2c55;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  .main-logo {
    display: block;
  }

  .menu-right {
    display: block;
  }
  .upload-icon {
    display: block;
  }

  .login-button {
    font-family: "sofiapro-semibold", PingFangSC, sans-serif;
    font-weight: 700;
    margin-left: 24px;
    height: 48px;
    font-size: 18px !important;
  }

  .tiktok-btn-pc-medium {
    min-width: 164px;
    min-height: 36px;
  }
}

.search-input-jsx {
  padding: 11px 16px 11px 12px;
  margin: -12px -16px;
  margin-left: 0;
  font-size: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.search-input-jsx:hover {
  background-color: rgba(174, 177, 202, 0.12);
}

.search-split {
  width: 1px;
  height: 28px;
  margin: -3px 0;
  background: rgba(22, 24, 35, 0.12);
}

.search-button-container {
  padding: 11px 16px 11px 12px;
  margin: -12px -16px;
  margin-left: 0;
  font-size: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.login-button {
  font-family: "sofiapro-semibold", PingFangSC, sans-serif;
  font-weight: 700;
  margin-left: 24px;
  font-size: 16px;
}

.tiktok-btn-pc-medium {
  min-width: 120px;
  min-height: 36px;
}

.tiktok-btn-pc-primary {
  background-color: #fe2c55;
  color: #fff;
  border: none;
}

.tiktok-btn-pc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: SofiaPro, system-ui;
  min-width: 88px;
  min-height: 28px;
  padding: 6px 8px;
  background-color: #fff;
  border: 1px solid rgba(22, 24, 35, 0.12);
  color: #161823;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}

.tiktok-btn-pc-primary:hover {
  background-color: #e02a4e;
}

.menu-right {
  padding-right: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.upload-wrapper {
  position: relative;
  height: 32px;
}
